# Зависимости
node_modules/

# Переменные окружения
.env
.env.local
.env.production

# Сборка
dist/
build/

# Логи
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# OS
Thumbs.db
.DS_Store

# Vite
.vite/

# Testing
coverage/

# Production
*.log

.vercel
